body{
}

h1{
  font-size: 20px;
  margin: 5px 0px;
}

.date-navigation{
  margin: 0px;
  padding: 0px;
}
.date-navigation .current-date{
  width: 100px;
  display: inline-block;
  font-size: 20px;
}
table.timetable{
  clear: both;
  width: auto;
  border-collapse: collapse;
  margin: 0px;
  padding: 0px;
  border: 1px solid #DDD;
}
table.timetable td{
  border: 0px;
}
table.timetable .filled{
  background-color: #F99;
  cursor: pointer;
}
table.timetable th{
  padding: 1px 3px;
  text-align: right;
  width: 20px;
  border: 1px solid #DDD;
}
table.timetable td {
  padding: 0px;
}